.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1em 0;
  border-radius: 5px;
  background-color: #252525;
  padding: .8em;
  -webkit-box-shadow: -2px 2px 7px 5px rgba(0,0,0,0.13);
  -moz-box-shadow: -2px 2px 7px 5px rgba(0,0,0,0.13);
  box-shadow: -2px 2px 7px 5px rgba(0,0,0,0.13);
}

.title span{
  margin-left: 1em;
  font-size: 1.5em;
}